@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@800&display=swap');

body {
    background: url('https://i.pinimg.com/236x/d1/bd/2e/d1bd2e3503899256af79db4efb6cd63e.jpg');
    background-position: 0 1000px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

input[type=submit] {
  background-color:orchid;
  color:  white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: '' ;
}

input[type=submit]:hover {
  background-color:orchid;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}